body {
 background-color: #383D58;
}
header [
      backgroud-color: #424e61;
      color: white;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho {
 backgroud-color: #424E61;
 color: whit;
 display: flex;
 justify-content: space-aroud;
 align-itens: center;
 padding: 24px 0;
}
